<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.jarjamediaapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name=".Activities.splash.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.all_leads.AllLeadsActivity" />
        </activity>
        <activity
            android:name=".Activities.forgot_password.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".Activities.add_appointment.AddAppointmentActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".Activities.add_calendar_task.AddCalendarTaskActivity"></activity>
        <activity android:name=".Activities.add_task.AddTaskActivity"></activity>
        <activity android:name=".Activities.lead_detail.LeadDetailActivity"></activity>
        <activity android:name=".Activities.add_filters.AddFiltersActivity"></activity>
        <activity android:name=".Activities.add_lead.AddLeadActivity"></activity>
        <activity android:name=".Activities.transactions.TransactionActivity"></activity>
        <activity android:name=".Activities.followups.FollowupsActivity"></activity>
        <activity android:name=".Activities.appointments.AppointmentActivity"></activity>
        <activity android:name=".Activities.tasks.TasksActivity"></activity>
        <activity android:name=".Activities.listing_info.ListingInfoActivity"></activity>
        <activity android:name=".Activities.social_profiles.Social_ProfilesActivity"></activity>
        <activity android:name=".Activities.open_houses.OpenHousesActivity"></activity>
        <activity android:name=".Activities.calendar.CalendarActivity"></activity>
        <activity android:name=".Activities.tags.TagsActivity"></activity>
        <activity android:name=".Activities.notes.NotesActivity"></activity>
        <activity android:name=".Activities.notes.AddNotesActivity"></activity>
        <activity android:name=".Activities.notification.NotificationActivity"></activity>
        <activity android:name=".Activities.calendarDetail.CalendarDetailActivity"></activity>

        <activity android:name=".Utilities.Call.VoiceActivity"></activity>
        <activity android:name=".Activities.all_leads.AllLeadsActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".Activities.search_activity.SearchResultsActivity"></activity>

        <activity
            android:name=".Activities.login.LoginActivity"
            android:windowSoftInputMode="adjustResize"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>